<!-- AUTHOR: Max Dobrei -->
<!DOCTYPE html>
<html lang="en">


	<head id=head>
		<title > User Directory Page</title>
		
		<div id="header">
			<% lnkArr.forEach(function(link){ %>
			<a id= <%=link.id %>  href= <%=link.lnk %> >  <%=link.title %> </a>
			<%}) %>
		</div>


			<% if (!loggedin) { %>
		
			<style>
				
				body{
					
					background-color:beige;
				}
				#hID{
					margin-left: 18%;
				
				}
				#uID{
					margin-left: 18%;
					margin-right: 18%;
				}
				#nuID {
					margin-right: 18%;
				}
				#topLayer {
					display: inline-block;
					margin-right: 0px;
					margin-left: 475px;

					border: 3px solid red;
					padding: 30px 30px 30px 30px;

					width: 450px;
			
					font-family: "Sans-serif", "Times New Roman", serif;
					font-size: 100%;
						
				}
				
				#letitle{
					margin: auto;
					/* margin: 20px 0 20px 0 */
					width: 300px;
					padding: 20px;
				}
				
			</style>
		<% } %>
		<% if (loggedin) { %>
				<style>
				
					body{
						
						background-color:beige;
					}
					#hID{
						margin-left: 10%;
					
					}
					#uID{
						margin-left: 10%;
						margin-right: 10%;
					}
					#oID {
						margin-right: 10%;
					}
					
					#ppID {
						margin-right: 10%;
					}
					
					#lgID {
						margin-right: 10%;
					}
					
					#topLayer {
						
						
						display: inline-block;
						margin-right: 0px;
						margin-left: 475px;

						border: 3px solid red;
						padding: 30px 30px 30px 30px;

						width: 450px;
						
						font-family: "Sans-serif", "Times New Roman", serif;
						font-size: 100%;	
					}
					#letitle{
						margin: auto;
						/* margin: 20px 0 20px 0 */
						width: 300px;
						padding: 20px;
					}
					

				</style>
			<% } %>

		
	</head>
	
	

	<body>
		<div>
			<h1 id="letitle">User Directory</h1>
		</div>

		<!-- container for intro msg -->
		<div id="topLayer">
			<% userArr.forEach(function(user){ %>
			<a href= <%=user.lnk %> >  <%=user.title %> </a>
			<br>
			<%}) %>	
		</div>
	
	</body>
</html>